@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@600&display=swap');

:root{
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark-desaturated-cyan-: hsl(167, 40%, 24%);
    --Dark-blue: hsl(198, 62%, 26%);
    --Dark-moderate-cyan: hsl(168, 34%, 41%);
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fraunces', serif;
}
.grid{
    display: grid;
    grid-template-rows: repeat(10, auto);
    grid-template-columns: repeat(auto-fill ,minmax(370px, 1fr));
    grid-template-areas: 
    "initiall"
    "egg"
    "text-brand"
    "coup"
    "text-stand"
    "cherry"
    "orangee"
    "cliente"
    "project"
    "footer"
    ;
}
.initial{
    grid-area: initiall;
    background-image: url(../images/mobile/image-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    overflow: hidden;
    height: 80vh;
}
.initial nav{
    width: 100%;
    display: flex;
    padding: 15px 30px;
    justify-content: space-between;
    align-items: center;
    color: var(--White);
}
.menu{
    visibility: hidden;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 0;
    width: 80%;
    transition: 1s all;
    overflow-y: hidden;
    background-color: white;
}
.menu ul{
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.menu ul li{
    margin: 0 auto;
    font-size: 1.3rem;
    padding: 15px;
}
.menu ul li a{
    text-decoration: none;
    color: var(--Grayish-blue);
}
.menu ul li:last-child{
    background-color: var(--Yellow);
    border-radius: 20px;
}
.menu ul li:last-child a{
    color: var(--Very-dark-desaturated-blue);
}
#nav.active .menu{
    visibility: visible;
    height: 40vh;
}
.icon-hamburguer{
    cursor: pointer;
    width: 30px;
}

.frases{
    margin-top: 30px;
    height: 70%;
    display: flex;
    flex-direction: column;
    color: var(--White);
    align-items: center;
    justify-content: space-evenly;

}
.frase{
    text-align: center;
    font-size: 1.6rem;
}



.egg{
    grid-area: egg;
    width: 100%;
    background-image: url(../images/mobile/image-transform.jpg);
    background-position: center;
    background-size: cover;
    height: 50vh;
}
.text-brand{
    grid-area: text-brand;
    width: 100%;
    height: 65vh;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.text-brand .h1{
    color: var(--Very-dark-desaturated-blue);
    font-weight: 800;
    font-size: 1rem;
    text-align: center;
}
.text-brand .text{
    color: var(--Dark-grayish-blue);
    font-weight: 600;
    font-size: 0.9rem;
    text-align:center;
    line-height: 24px;
}
.text-brand .more{
    color: var(--Very-dark-desaturated-blue);
    font-weight: 800;
    font-size: 1rem;
}
.text-brand .more h3{
    box-shadow: 0 2px 10px 0 var(--Yellow);
}


.coup{
    grid-area: coup;
    width: 100%;
    background-image: url(../images/desktop/image-stand-out.jpg);
    background-position: center;
    background-size: cover;
    height: 50vh;
}

.text-stand{
    grid-area: text-stand;
    width: 100%;
    height: 65vh;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.text-stand .h1{
    color: var(--Very-dark-desaturated-blue);
    font-weight: 800;
    font-size: 1rem;
    text-align: center;
}
.text-stand .text{
    color: var(--Dark-grayish-blue);
    font-weight: 600;
    font-size: 0.9rem;
    text-align:center;
    line-height: 24px;
}
.text-stand .more{
    color: var(--Very-dark-desaturated-blue);
    font-weight: 800;
    font-size: 1rem;
}
.text-stand .more h3{
    box-shadow: 0 2px 3px 0 var(--Soft-red);
}


.cherry{
    grid-area: cherry;
    width: 100%;
    background-image: url(../images/mobile/image-graphic-design.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 50px 30px;
}

.cherry .h1{
    color: var(--Dark-desaturated-cyan-);
    font-weight: 800;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 50px;
}

.cherry .text{
    color: var(--Dark-desaturated-cyan-);
    font-weight: 600;
    font-size: 0.9rem;
    text-align:center;
    line-height: 24px;
}


.orange{
    grid-area :orangee;
    width: 100%;
    height: 100vh;
    background-image: url(../images/mobile/image-photography.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 50px 30px;
}

.orange .h1{
    color: var(--Dark-blue);
    font-weight: 800;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 50px;
}

.orange .text{
    color: var(--Dark-blue);
    font-weight: 600;
    font-size: 0.9rem;
    text-align:center;
    line-height: 24px;
}
.cliente{
    grid-area: cliente;
    width: 100%;
    height: 200vh;
    display: flex;
    flex-direction: column;
    padding: 50px 30px;
    align-items: center;
    justify-content: space-evenly;
}
.cliente .h1{
    font-weight: 600;
    text-align: center;
    font-size: 1rem;
    color: var(--Dark-grayish-blue);
}
.first-client, .second-client, .third-client{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 33.33%;
}
.img-client{
    border-radius: 50%;
    width: 90px;
}
.description-client{
    color: var(--Dark-grayish-blue);
    font-weight: 600;
    font-size: 0.9rem;
    text-align:center;
    line-height: 24px;
}
.name-client{
    color: var(--Very-dark-desaturated-blue);
    font-weight: 800;
    font-size: 1.3rem;
}
.carrer-client{
    color: var(--Dark-grayish-blue);
    font-size: 0.7rem;
    margin-top: -25px;
}
.project{
    grid-area: project;
    width: 100%;
    height: 50vh;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}
.bottles{
    background-image: url(../images/mobile/image-gallery-milkbottles.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}
.orangee{
    background-image: url(../images/mobile/image-gallery-orange.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}
.cone{
    
    background-image: url(../images/mobile/image-gallery-cone.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}
.suggar{
    background-image: url(../images/mobile/image-gallery-sugar-cubes.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}
.footer{
    grid-area: footer;
    width: 100%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px 30px;
    background-color: var(--Dark-moderate-cyan);
}
.footer .sunnyside{
    color: var(--Dark-desaturated-cyan-);
    font-weight: 800;
}
.footer .menu-footer{
    width: 100%;
}
.footer .menu-footer nav ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
}
.footer .menu-footer nav ul li a{
    text-decoration: none;
    color: var(--Dark-desaturated-cyan-);
}
.sociais{
    width: 70%;
    display: flex;
    justify-content: space-around;
}
.icon-sociais{
    width: 25px;
}